* {
    font-family: "Sans Serif - Humanist", "Nunito Sans";
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    letter-spacing: 1px;
}

::selection {
    text-shadow: none;
    background-color: yellow;
}

html:focus-within {
    scroll-behavior: smooth;
}

.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

section {
    scroll-margin-top: 50px;
}

/* NAVBAR */

nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    transition: .5s ease-out;
}


nav.sticky {
    padding: 5px 10px;
    background-color: black;
    transition: .5s ease-out;
    height: 50px;
}

.logo {
    font-weight: lighter;
    padding: 10px 30px;
    color: white;
    margin: -5px;
    font-size: smaller;
}

nav div h3 a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    transition: ease-in-out .25s;
    animation-delay: 1s;
}

nav div h3 a:hover {
    color: rgb(171, 167, 167);
}

nav ul {
    display: flex;
    margin-top: 15px;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    padding: 7px;
    color: white;
    font-size: medium;
    transition: ease-in-out .25s;
}

nav ul li a:hover {
    color: rgb(171, 167, 167);
}

.menu-icon {
    padding: 10px 30px;
    display: none;
    cursor: pointer;
}

.menu-icon i {
    color: white;
    font-size: 30px;
}

@media (max-width:766px) {
    nav {
        transition: ease-in-out 1s;
        background-color: black;
        padding: 0px 30px;
        height: 60px;
    }

    nav ul {
        padding-right: 20px;
        position: absolute;
        top: 35px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: black;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 10px;
    }

    .menu-icon {
        display: flex;
        padding-right: 20px3;
    }

    #menuList {
        transition: all 0.5s;
    }
}

/* INTRODUCTION */

#intro {
    background: url(Images/mountain-dusk.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#intro .overlay {
    height: 100vh;
    width: 100vw;
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.45));
}

.intro-content {
    height: 70%;
    width: 100%;
    color: white;
    padding-top: 15%;
}

.intro-content a {
    transform: all ease-in-out 2s;
    scroll-behavior: smooth;
    overflow: auto;
}

.line1 {
    font-weight: lighter;
    font-size: 70px;
    font-family: "Sans Serif - Humanist", "Nunito Sans";
    animation: slideDown;
    animation-duration: 1s;
}

.line2 {
    font-weight: lighter;
    font-family: "Sans Serif - Humanist", "Nunito Sans";
    animation: slideUp;
    animation-duration: 2s;
}

.toAbout {
    margin-top: 35%;
    padding: 20px;
    transition: all ease-in-out 2s;
}

#angle-down {
    color: white;
    margin-top: 10%;
    font-size: xxx-large;
    padding: 10px;
    transition: ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(150%);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ABOUT */

#about {
    min-height: 80vh;
    width: 100vw;
    padding: 60px 10px;
}

.HeadingAboutMe {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    font-weight: lighter;
    opacity: 0;
    transition: opacity 2.5s ease-out, transition 2.5s ease-out;
}


.HeadingAboutMe.fadeIn {
    opacity: 1;
}

#about .overlay {
    min-height: 80vh;
    width: 100vw;
}

.container {
    padding: 0px 15px;
}

#about .container .row {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

#pfp {
    width: 200px;
    height: auto;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 2.5s ease-out, transition 2.5s ease-out;
}

#pfp.fadeInImage {
    opacity: 1;
}

#about .para {
    padding: 30px 0px;
    opacity: 0;
    transition: opacity 2.5s ease-out, transition 2.5s ease-out;
}

#about .para.fadeInPara {
    opacity: 1;
}

.RU {
    text-decoration: none;
    color: rgb(25, 25, 204);
}

.RU:hover {
    text-decoration: underline;
}


/* PASSION */

#passion {
    min-height: 80vh;
    width: 100vw;
    padding: 60px 0px;
    background-color: rgb(226, 223, 223, 0.4);
}

#passion h2 {
    padding-bottom: 30px;
    font-weight: light;
}

.icon {
    width: 175px;
    height: 175px;
    line-height: 175px;
    max-width: 100%;
    background-color: rgb(2, 2, 103);
    border: none;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    color: white;
    font-size: 55px;
    margin: 0px auto 40px;
}

.icon:hover {
    animation: spin 0.5s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#passion h3 {
    padding-bottom: 30px;

}

#passion P {
    margin: 0px auto 40px;
    max-width: 80%;
}

.elements {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;

}

.elements.fadeInElements {
    opacity: 1;

}

.elements.fadeInElements.delay-025 {
    transition-delay: 0.25s
}

.elements.fadeInElements.delay-05 {
    transition-delay: 0.5s
}

/* SKILLS */

#skills {
    width: 100vw;
    min-height: 80vh;
    padding: 60px 0px;
}



#skills h2 {
    padding-bottom: 30px;
    font-weight: light;
}

#skills .container {
    padding-left: 20%;
    padding-right: 20%;
}

#skills img {
    width: 80px;
    height: auto;
    gap: 40px;
    filter: grayscale(100%);
}

#skills img:hover {
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;

}

@media (max-width:992px) {
    #skills .container {
        padding-left: 15%;
        padding-right: 15%;
    }
}

#skills ul {
    list-style-type: disc;
}

#skills .para {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;
}

#skills .para.fadeInPara {
    opacity: 1;
}

#skills .skillImg {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;
}

#skills .skillImg.fadeInImg {
    opacity: 1;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;
}

#skills .text {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;

}

#skills .text.fadeInText {
    opacity: 1;
}

#skills hr .para {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;
}

#skills hr .para.fadeIn {
    opacity: 1;
}

/* RESUME */

#resume {
    width: 100vw;
    background: url(Images/laptop-blur.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: none;
}

#resume .overlay {
    padding: 10% 0px;
    color: white;
}

#resume .overlay {
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.35));
}

#resume h2 {
    font-weight: lighter;
    padding: 20px 0px;
}

#resume button {
    padding: 15px 20px;
    transition: 0.25s all ease-in-out;
    color: white;
    border: navajowhite;
    font-weight: bolder;
    background-color: transparent;
    border: 2px solid #ccc;
    font-weight: lighter;
    letter-spacing: 1px;
}

#resume button:hover {
    padding: 15px 30px;
    background-color: transparent(15%);
}

/* WORK */

#work {
    width: 100%;
    min-height: 90vh;
    padding: 7% 0px;
}

#work h2 {
    font-weight: 300;
    padding-bottom: 20px;
}

.projectCards {
    opacity: 0;
    transition: opacity 1.5s ease-out, transition 1.5s ease-out;
}

.projectCards.fadeInCard {
    opacity: 1;
}

.projectCards.fadeInCard.delay-025 {
    opacity: 1;
}

/* CONTACT */

#contact {
    width: 100%;
    height: 60vh;
    background-color: rgb(226, 223, 223, 0.4);
    padding: 5% 0px;
}

#contact .container {
    padding: 0px 1.5%;
}

.email-icon {
    height: 100px;
    width: 100px;
    justify-content: center;
}

#paperPlane {
    font-size: xxx-large;
    visibility: hidden;
}

#paperPlane.slideDown {
    visibility: visible;
    animation: 1s slideDownImage ease-in-out;
}

@keyframes slideDownImage {
    from {
        transform: translateY(-1300%);
    }

    25% {
        transform: translateY(40%);
    }

    50% {
        transform: translateY(-20%);
    }

    75% {
        transform: translateY(10%);
    }

    to {
        transform: translateY(0%);
    }
}

#contact h2 {
    padding: 30px 0px;
    font-weight: 300;
}

#contact p {
    margin: 10px 30%;
    font-weight: 300;
}

@media (max-width:768px) {
    #contact p {
        margin: 10px 20%;
    }
}

@media (max-width:992px) {
    #contact p {
        margin: 10px 25%;
    }
}

#contact a {
    padding: 10px 30px;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    transition: all .25s ease-in-out;
    font-weight: 300;
}

#contact a:hover {
    color: white;
    background-color: blue;
    border: 2px solid blue;
}

/* FOOTER */

footer {
    padding: 50px 0px 0px 0px;
    background-color: #222;
    color: white;
}

footer ul {
    display: block;
    text-align: center;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

footer ul li {
    display: inline;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
}

footer i {
    padding: 15px;
    background-color: #4e4d4d;
    color: white;
    font-size: 25px;
}

footer i:hover {
    padding: 18px;
    background-color: blue;
    color: white;
    transition: all 0.4s ease-in-out;
}

.boostImg {
    display: block;
    margin: 20px auto 10px auto;
    width: 50px;
    height: auto;
    color: white;
    margin-bottom: 20px;
}

.boostUp {
    opacity: 0;
    font-size: small;
    font-weight: 200;
}

.boostImg:hover + .boostUp{
    opacity: 1;
}

body:has(.boostImg:hover) .boostUp{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
